@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}


header {
    background: linear-gradient(180deg, #4E505F 0%, #bebebe 100%);
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: #4E505F;
}

section {
    font-family: "Roboto", sans-serif;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bebebe;
}

#calculadora-principal {
    padding: 16px;
    background-color: #17171C;
    border-radius: 32px;
    padding-top: 25vh;
}

#calculadora-botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
}

.colunas {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

input {
    width: 72px;
    height: 48px;
    font-size: 24px;
    border-radius: 24px;
    border: none;
    color: white;
}


#coluna4 > input{
    background-color: #4B5EFC;
}

.numero {
    background-color: #2E2F38;    
}

#limpar, #inversor, #porcentagem  {
        background-color: #4E505F;
}

#resultados {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#texto-operacao {
    color: #ffffff;
    font-size: 50px;

}

#resultado {
    color: #ffffff;
    font-size: 50px;
}


footer {
    height: 15vh;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #bebebe 0%, #4E505F 100%);
}

