@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

section {
    font-family: "Roboto", sans-serif;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculadora-principal {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 32px;
    gap: 25px;
}

#calculadora-botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
}

.colunas {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

input {
    width: 72px;
    height: 48px;
    font-size: 24px;
    border-radius: 24px;
    border: none;
}

#resultados {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#texto-operacao {
    font-size: 50px;

}

#resultado {
    font-size: 50px;
}


footer {
    font-family: "Roboto", sans-serif;
    height: 15vh;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculadora-tema {
    margin-bottom: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    outline: none;
}

.tema-label {
  display: block;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
}

.tema-label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  transition: 0.2s;
}

#tema-input:checked + .tema-label::before {
  left: 27px;
}

#tema-input {
  display: none;
}
